// colors
$main-black: #343843;
$main-grey: #7c838f;
$main-grey-light: #d0d4de;
$accent: #2fafff;
$accent-dark: #0759af;
$white: #fff;
$alert: #ef2424;
$warning: #ffb82e;
$success: #00bc5f;

// font-sizes
$fs-x: 12px;
$fs-xs: 14px;
$fs-l: 18px;
$fs-m: 20px;
$fs-xl: 24px;
$fs-xxl: 28px;
$fs-xxxl: 32px;
$fs-extra: 42px;

$main-text: "Gilroy", sans-serif;
$add-text: "Arimo", sans-serif;

// 

$header-indent: 120px
