.ProductCard{
    max-width: 280px;
    background-color: $white;
    overflow: hidden;
    position: relative;
}

.discountMark{
    position: absolute;
    font-size: $fs-l;
    background-color: $alert;
    padding: 4px 8px;
    color: $white;
    right: 0;
}

.img{
    max-height: 300px;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info{
    padding: 10px;
}

.discount{
    font-size: $fs-m;
    color: $main-grey;
}

.brand{
    font-size: $fs-xl;
    text-align: center;
}

.name{
    text-align: center;
    font-size: $fs-m;
}

.price{
    margin-top: 20px;
    text-align: center;
}

.priceNumber{
    font-size: $fs-xl;
    color: rgb(0, 0, 0);
}

.button{
    width: 100%;
    margin-top: 20px;
}