.Button {
  padding: 10px 20px;
  position: relative;
  //   border-radius: 5px;
  transition: 0.2s background-color;
}

.success {
  background-color: $success;
  color: $white;

  &:hover {
    background-color: #00934a;
  }
}
