.CartCounter{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $alert;
    color: $white;
    font-size: 10px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -5px;
}