.ProductListPage {
  margin-top: $header-indent;
}

.wrapper {
  display: flex;
  gap: 20px;
  align-items: start;
  margin-top: 40px;
}

.productListWrapper {
  width: 100%;
  position: relative;

}
@media screen and (max-width: $tablet) {
  .ProductListPage {
    margin-top: 50px;
  }
  
}
