.ProductListPage {
  margin-top: $header-indent;
}

.wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: start;
  margin-top: 40px;
}

.productListWrapper{
    width: 100%;
}