.SelectTag {
  background-color: rgb(180, 180, 180);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  color: $main-black;
  display: flex;
  font-size: $fs-xs;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &:hover {
    background-color: rgb(154, 154, 154);
  }
}

.checked {
  background-color: rgb(101, 101, 101);
  color: $white;



  &:hover {
    background-color: rgb(92, 92, 92);
  }
}

.counter{
  font-size: $fs-x;
  background-color: $main-grey-light;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  color: $main-black;

}