.SelectTag {
  background-color: $dark;
  transition:
    0.2s background-color,
    0.2s color;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  color: $main-black;
  display: flex;
  font-size: $fs-xs;
  align-items: center;
  justify-content: center;
  gap: 0px 5px;
  color: $white;

  &:hover {
    // background-color: rgb(154, 154, 154);
    background-color: $main-black;
  }
}

.checked {
  background-color: $main-black;
  color: $white;

  &:hover {
    // background-color: rgb(92, 92, 92);
    background-color: rgb(0, 0, 0);
  }
}

.counter {
  font-size: $fs-x;
  background-color: $main-grey-light;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  color: $main-black;
}

@media screen and (max-width: $tablet) {
  .SelectTag {
    &:hover {
      background-color: $dark;
    }

    &:active {
      background-color: rgb(154, 154, 154);
    }
  }

  .checked {
    background-color: $main-black;
    color: $white;

    &:hover {
      background-color: $main-black;
    }

    &:active {
      background-color: rgb(0, 0, 0);
    }
  }
}
